.wrapper {
    width: 100%;
    border: 1px rgb(217, 217, 217) solid;
    margin-bottom: 20px;
}

.header {
    display: flex;
    background-color: #f2f2f2;
    padding: 12px 12px 12px 32px;
    border-bottom: 1px rgb(217, 217, 217) solid;
}

.user-avatar {
    width: 96px;
    height: 96px;
    border-radius: 500px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 12px
}

.user-name {
    width: fit-content;
    line-height: 24px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primary-brighter);
}

.posted-time {
    line-height: 17.5px;
    font-size: 1.4rem;
    color: #666666;
    font-weight: 600;
    margin-bottom: 8px;
}

.user-device {
    width: fit-content;
    line-height: 24px;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 0.75rem;
    padding: 0 8px;
}

.body {
    font-size: 1.8rem;
    padding: 24px 32px;
}

.title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 8px 0 4px;
    font-weight: 600;
}

.text {
    line-height: 24px;
    margin-bottom: 10px;
}

.images {
    display: flex;
    overflow: hidden;
}

.image {
    width: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: .75rem;
    
    + .image {
        padding-left: 5px;
    }
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating-detail {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.list {
    width: 50%;
}

.list-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-item {
    display: flex;
    font-size: 1.2rem;
    height: 10px;
    align-items: center;

    + .list-item {
        margin-top: 16px;
    }
}

.aspect {
    display: block;
    margin-right: 10px;
    width: 30%;
}

@media ((min-width: 768px) and  (max-width: 992px)) or (max-width: 576px) {
    .rating-detail {
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .aspect {
        width: 40%;
    }
}