.wrapper {
    width: 100%;
    max-width: 1920px;
}

.content {
    min-height: calc(100vh - 60px - 185.85px);
}

@media (max-width: 1200px) {
    .content {
        min-height: calc(100vh - 70px - 185.85px);
    }
}

@media (max-width: 576px) {
    .content {
        min-height: calc(100vh - 70px - 205.85px);
    }
}