.title {
    display: block;
    padding: 8px 0 4px;
    margin: 0 20px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--color-primary-brighter);
    border-bottom: 1px #d9d9d9 solid;
}